@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors;
  }

  :root {
    font-family: 'Inter', sans-serif;
    @apply antialiased;
  }
}

@layer components {
  .page {
    min-width: 320px;
    height: max(600px, 100vh);
  }

  .loginTemplate {
    background-image: url('../assets/images/interface.png');
    background-position: 0 calc(100% + 30px);
    background-repeat: no-repeat;
    background-size: contain;
  }
}